@model WebApplication2.Models.Form

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Datos</title>
</head>
<body>
    <div>

        <!--Datos-->

        <label>Name: @Model.Name</label>
        <br />
        <br />

        <label>Lastname: @Model.Last)</label>
        <br />
        <br />

        <label>Cedula: @Model.Cedula)</label>
        <br />
        <br />

        <label>Age: @Model.Age</label>
        <br />
        <br />

        <label>Tel: @Model.Tel</label>
        <br />
        <br />

        <label>Email: @Model.Email</label>
        <br />
        <br />

        <label>Gender: @Model.Gender</label>
        <br />
        <br />

        <label>CivilStatus: @Model.CivilStatus</label>
        <br />
        <br />

        <label>Hobbys: @Model.HobbieDefinitivo</label>
        <br />
        <br />

    </div>


</body>
</html>